[2019-05-10 09:08] Louis012 opened #529 "Component constructor called twice upon state.go(...)"
My configuration :

- Angular 4 project
- @uirouter/angular: **1.1.0**

Hi,

I am using ui-router in my app, it works perfectly expected for one specific configuration.
When I call :

` this.stateService.go(
            'my_component', {
                myParam: "some|param" // <-- Note the pipe symbol here
            }
        );`

When `MyComponent` gets loaded, the constructor is called **twic

[2019-05-19 18:20] wileymarques commented on #431
AOT only supports a subset of JS, which can be found [here](https://angular.io/guide/aot-compiler#expression-syntax).

This may be the problem you are facing.

[2019-05-19 19:13] aserraric commented on #431
I guess this makes sense, and it probably the reason my method works: The array of state definitions has to remain a literal throughout. I'm just confused as to why the AOT compiler silently drops the property instead of generating an error if it isn't.

[2019-05-29 07:02] jpike88 opened #543 "Update to angular 8"
```@uirouter/angular@3.0.0 requires a peer of @angular/common@^5.0.0 || ^6.0.0 || ^7.0.0 but none is installed. You must install peer dependencies yourself.```

[2019-05-29 16:09] oliverguenther commented on #543
I opened a PR here to create tests for 8.0.0, looks like no changes in uirouter will be necessary. https://github.com/ui-router/angular/pull/544

Will report back after we upgraded our application

[2019-06-03 19:19] jam2z9 commented on #516
I'm experiencing the same thing when importing a non angular module into app.module.

[2019-06-04 09:47] zhangxiang93 commented on #516
Same problem

[2019-06-04 16:58] stefanmeschke opened #552 "AOT: new ParamType() in state declaration"
Hi,

is it possible to define own ParamType and use the Angular AOT build?

State Declaration:
[code]

Build Error with AOT:
[code]

**Thanks in advance!**

Cheers
Stefan

[2019-06-11 07:01] VeeteshJain commented on #105
@mkoczorowski can you plz share your solution I had run into the same issue, maybe a code snippet would be helpful, thanks :-)

[2019-06-11 13:06] mkoczorowski commented on #516
same here

[2019-06-14 23:24] christopherthielen commented on #552
Register a parameter type with the `UIRouter.urlService.config.type()`.

See https://ui-router.github.io/ng2/docs/latest/classes/url.urlconfig.html#type

[2019-06-14 23:24] #552 closed

[2019-06-14 23:28] christopherthielen commented on #543
Released as version `4.0.0`

[2019-06-14 23:28] #543 closed

[2019-06-14 23:29] christopherthielen commented on #516
Thank you for this issue with clear reproduction steps.  I will take a look this weekend!

[2019-06-16 18:17] pradeepsrawat029 commented on #516
hi  same problem here. angular 8 ivy compiler
Value at position 2 in the NgModule.importss of AppModule is not a reference: [object Object]

[2019-06-18 01:16] christopherthielen commented on #516
I played around with this a bit over the weekend.  I think the solution to this may be to use [`ng-packagr`](https://github.com/ng-packagr/ng-packagr) to create a npm package that conforms to the [angular package format](https://docs.google.com/document/d/1CZC2rcpxffTDfRDs6p1cfbmKNLA6x5O-NtkJglDaBVs/preview#!).

This may require a break in compatibility with Angular v5 but that's OK.  We would nee

[2019-06-24 23:03] lucasheight opened #570 "IE 11: Browser navigation not updating route"
Hi
When updating the browser address in IE 11, the route is not being updated in the view.
The ng2 sample reflects this behaviour: [https://ui-router.github.io/sample-app-angular/#/home](url), changing "home" to "prefs" the view does not update.

Thanks
Lynden

[2019-07-09 21:33] mkoczorowski commented on #105
This is actually quite easy. Make user the service is provided in providers or in root, then onEnter hook gives you transition. Just do transition->injector()->get(Service);

[2019-07-11 18:23] Xen3r0 commented on #384
You have found the solution ?
I have same problem.

Thanks

[2019-07-14 18:16] christopherthielen commented on #516
update: I was able to build the package using ng-packagr and added ui-router to a brand new "`ShinyIvyApp`".  However, I ran into troubles trying to update the `sample-app-angular` to use ivy.

[2019-07-14 19:19] oBusk commented on #516
What issues did you have? Got the WIP somewhere?

[2019-08-28 10:07] mkoczorowski commented on #516
@christopherthielen do we have any progress on this issue ? Angular 9 is round the corner which is ivy. It would be a real shame we ui-router cannot support this.

[2019-09-08 22:55] christopherthielen commented on #516
here's the branch with ng-packagr support

https://github.com/ui-router/angular/compare/ng-packagr?expand=1

To test this locally, I'm using https://github.com/whitecolor/yalc as a local package publisher.
[code]

Build `@uirouter/angular` locally using `ng-packagr`:
[code]

Now add it to your downstream app using yalc.
[code]

Yarn will complain about missing peer dependencies, so also add the tw

[2019-09-16 07:43] jr01 commented on #516
so I just tried the ng-packagr branch with Angular Ivy in a large angular-hybrid app and it seems to work 👍

I added the ng-packagr branch in `package.json`, here is a snippet of the @uirouter bits I have in there:
[code]

and of course I enabled Ivy like I did in the initial post [^^](https://github.com/ui-router/angular/issues/516#issue-434616499)

Many thanks @christopherthielen 🥇

[2019-09-17 08:24] jr01 commented on #516
So I tried the [ng-packagr branch](https://github.com/ui-router/angular/compare/ng-packagr?expand=1) with the app from my [initial post](https://github.com/ui-router/angular/issues/516#issue-434616499)  and I got it to work.

Here is what I did:

For @uirouter/angular
- `git clone https://github.com/ui-router/angular .` in folder `C:\custom_npm\@uirouter\angular`
- `git checkout ng-packagr`
- `npm

[2019-09-17 19:50] dannyskoog commented on #516
@jr01 That sounds great!

Btw - you state that you used latest Angular 8. Why not latest beta (`9.0.0-next.6`)?

[2019-09-23 16:33] Martin-Eckleben commented on #340
@mkoczorowski Do you know what raw:true exactly does?
(I cant seem to find any documentation about it)

[2019-09-24 06:51] dannyskoog commented on #516
@christopherthielen Would you by any chance have a rough idea of when an Ivy compatible version 5 of UI Router could be released? (i.e. october/november versus later)

[2019-09-25 07:51] adam-marshall commented on #422
Encountered this now, any workaround @jeroenvheel / @cthrax ?

[2019-09-25 14:37] cthrax commented on #422
@adam-marshall sticking with the previous version.

[2019-09-26 07:59] #108 closed

[2019-09-26 10:53] penfold opened #639 "Feature request: Allow state transition hooks to return observables"
I can currently return a promise from a state transition hook.

https://ui-router.github.io/guide/transitionhooks#promises

In the new work of observables, it would be great if I could return an observable as my services all return them.

Thanks,
Paul

[2019-09-27 13:55] adam-marshall commented on #422
Sorry @cthrax, I am not sure what you mean. Did you downgrade back to a particular version of `@uirouter/angular`? I'm using 4.0.0.

[2019-09-27 14:07] cthrax commented on #422
Ack, I'm sorry @adam-marshall I thought this was a different issue I'm following.

I have not found a solution to this issue, other than not watching with aot. Standard watch works fine.

[2019-09-27 16:05] wawyed commented on #639
You can easily convert an observable to a promise by using toPromise() so it shouldn't be a big deal to do so.

[2019-10-01 08:34] wawyed commented on #424
This could help as a starting point https://angular.io/guide/schematics

[2019-10-01 19:04] christopherthielen commented on #639
yes, that's my recommendation as well.  transition hooks are a feature of ui-router core, which doesn't assume that rxjs is available.

[2019-10-02 08:38] wawyed commented on #289
Have a look at :

https://github.com/ui-router/core#features

[2019-10-02 16:18] ebrentnelson commented on #384
I'm running into the same issue. It seems that we're providing enough information in our state declarations that the URLs should be able to be generated. I wrote some tests against the `ui-router` code to attempt to fix this, but unfortunately the issue runs pretty deep. The problem here is that `lazy.a` doesn't even seem to exist in the state registry. My guess is that perhaps it is hidden somewh

[2019-10-03 22:06] wawyed commented on #211
Fixed in https://github.com/ui-router/angular/blob/master/CHANGELOG.md#500-2019-10-02

[2019-10-03 22:06] #211 closed

[2019-10-03 22:07] wawyed commented on #20
fixed in https://github.com/ui-router/angular/blob/master/CHANGELOG.md#500-2019-10-02

[2019-10-03 22:07] #20 closed

[2019-10-08 17:57] penfold commented on #639
That's a fair enough reason. Thanks for the feedback.

[2019-10-08 17:57] #639 closed

[2019-10-09 00:52] christopherthielen commented on #516
I've made [more some progress](https://github.com/ui-router/angular/tree/ivy)

I'm not going to make any promises on timing of an ivy compatible release, but things are looking pretty good

[2019-10-09 06:46] dannyskoog commented on #516
I’m more than fine with that answer @christopherthielen. Sounds good and thanks for your hard (and appreciated) work!

[2019-10-11 16:42] christopherthielen commented on #516
Looks like we'll be dropping support for Angular versions 7 and below.  I was surprised to learn that Angular 8 (without ivy) is also able to lazy load without the `ROUTES` token from `@angular/router` (i.e., this got fixed https://github.com/angular/angular-cli/issues/9343)

[2019-11-02 17:10] d-atanasov commented on #494
For anyone that this may be useful, I found a way to achieve this.
The solution was to create a transition hooks that will intercept onCreate and onError transitions. The first one will be called before a lazy state begin to load, and the second one after the related bundles get loaded.

For more on transition hooks check [this](https://ui-router.github.io/guide/transitionhooks).

[2019-11-02 17:10] #494 closed

[2019-11-04 18:34] mgechev commented on #516
Hi @christopherthielen, is there anything else blocking you from releasing the Ivy compatible version? We'll be happy to help if there's anything we can do!

[2019-11-05 19:25] christopherthielen commented on #516
@mgechev thanks for reaching out!  I think code-wise, ui-router ivy branch is ready to release.  I just want to update docs and examples first.

[2019-11-09 19:13] sebastian-zarzycki-es opened #666 "UI Router + Ionic 4?"
Apparently new version of Ionic, instead of their own stack-based navigation, re-uses Angular Router. I'm not terribly familiar with the extend of this change, but I was wondering, if it could ever be replaced with UI Router, or is the integration too deep? I realize this is probably the wrong place to ask the question, but surely some UI Router users are asking themselves the same question?

I wa

[2019-11-12 01:13] christopherthielen commented on #516
Released v6.0.0 https://github.com/ui-router/angular/releases/tag/6.0.0

[2019-11-12 01:13] #516 closed

[2019-11-13 07:12] holuwaseun opened #675 "ERROR in Node does not exist"
Hi,

I just installed `@uirouter/angular` `v6.0.0` in my angular project that has `enableIvy` set to `true`. When I run `ng serve --prod` I get an error that says `ERROR in Node does not exist: C:/Projects/kos-ng IT konsults/Print Control/print-control-application/node_modules/@uirouter/angular`. I have attached an image of the error. Any help will be much appreciated.

![uirouter-error](https://u

[2019-11-13 10:14] wawyed commented on #675
Hi, as part of the release v6.0.0 or angular. The @uirouter/core and @uirouter/rx are now peerDependencies and need to be installed manually.

Have a look at https://github.com/ui-router/angular/blob/master/CHANGELOG.md#600-2019-11-12

[2019-11-13 16:57] holuwaseun commented on #675
@wawyed Thanks... Installing the peerDependencies fixed it for me...

Cheers

[2019-11-13 16:57] #675 closed

[2019-11-17 18:28] holuwaseun opened #676 "Lazy Loading: When on a future state/route, if page is refreshed, page goes to default/otherwise state"
Hello,

I wanted to try out lazy loading modules. I got it set up and working, but there's a small issue. When on a future route, if the page is refreshed or reloaded, the application goes back to the state specified in the `otherwise` route of the router config. Below is my setup

**scaffold.route.ts**
[code]

**user.route.ts**
[code]

**user.module.ts**
[code]

**app.route.ts**
[code]

**login.r

[2019-11-18 08:56] petebacondarwin commented on #516
Great @christopherthielen - can you release `@uirouter/angular-hybrid` too? Currently that is pinned to use `@uirouter/angular@5` so it is still broken with ivy.

[2019-11-21 09:07] wawyed commented on #516
@petebacondarwin I'm working on updating it.

[2019-11-26 19:18] christopherthielen commented on #516
published https://github.com/ui-router/angular-hybrid/releases/tag/10.0.0

[2019-11-26 23:57] oBusk commented on #516
I'm getting

[code]

when running `ivy-ngcc` with versions

[code]

[2019-11-27 09:21] petebacondarwin commented on #516
@oBusk - if you are using `ivy-ngcc` then you must be on an older version of Angular. Can you try with the most recent (`yarn add @angular/compiler-cli@next`, etc) - in which case the binary is now called `ngcc`. If it still erroring, let me know and I will look into it.

[2019-11-27 20:11] oBusk commented on #516
@petebacondarwin Oh! Thanks for that! I had an outdated branch for ivy.

I got rid of that, got further, but now running into
[code]

I don't see any other option for importing `UIRouterUpgradeModule` from angular-hybrid?
I created an issue for it (https://github.com/ui-router/angular-hybrid/issues/381), seems off-topic for this issue.

[2019-11-28 17:34] wawyed commented on #516
What are the contents of cool-module.module.ts ?

[2019-11-29 17:34] oBusk commented on #516
@wawyed The issue was that I was not using angular v9 release candidate which is required to run ivy with `@uirouter/angular-hybrid`. See https://github.com/ui-router/angular-hybrid/issues/381#issuecomment-559276597

However `@uirouter/angular-hybrid` has another issue; https://github.com/ui-router/angular-hybrid/issues/382

[2019-12-05 08:09] zimmicz opened #686 "How to configure state url inside forChild config function?"
I need a part of a state url should changed dynamically based on the app settings. Is `UIRouterUpgradeModule.forChild` config property the right place to make that change?

[code]

Am I on the right track? I can't find any docs relating to this.

[2019-12-05 09:39] wawyed commented on #686
You can use `stateRegistry.register(stateDefinition);` to define your state at run time. That way you can modify the stateDefinition based on app settings.

[2019-12-05 10:04] #686 closed

[2019-12-11 14:17] wawyed commented on #676
It would be useful if you could create a stackblitz reproducing the issue so we can investigate easier.

[2019-12-11 14:20] wawyed commented on #431
I believe this can ble closed as it's based on AOT restrictions and not do to with ui-router itself.

[2019-12-11 14:20] #431 closed

[2019-12-13 09:54] roelofjan-elsinga commented on #384
This is a very old thread but bare with me: This is issue is to be expected for the following reason:

The state is lazy loaded through future states, so when you haven't loaded the module containing the state implementations, the router that's trying to resolve the lazy-loaded state has no clue the lazy-loaded state even exists.

When you're resolving the lazy state through uiSref="lazy", you wil

[2019-12-13 10:20] wawyed commented on #384
@roelofjan-elsinga I suppose alternatively ui-router could try to load the lazy loaded module  in an attempt to resolve the url for a lazy loaded state, although that might defeat the purpose of lazy load...

[2019-12-15 21:01] christopherthielen commented on #384
In the future state paradigm, a single placeholder state is loaded up front.  This placeholder state has wildcards which match all child states (`name: 'lazy.**'`) and match all child URLs (`url: '/lazy*'`).  When a URL is activated which matches `/lazy*`, or when the a uiSref is activated to a state name matching`lazy.**`, the router runs the future state's lazy load code.  Upon success, the the

[2019-12-16 16:55] holuwaseun commented on #676
Hello @wawyed

Here's a stackblitz reproducing what I'm describing
https://stackblitz.com/edit/angular-b5jcv2

[2019-12-17 09:09] LM-G commented on #384
It does the trick i guess.

`In a future version of uirouter/angular, perhaps loadChildren would have access to the Transiton.` Would be amazing 👍.

[2019-12-17 12:23] scipper commented on #298
@mtraynham Lazy Loading is kind of picky regarding to the syntax. I guess using an exported function does not work. For me, the **exact syntax** and **formation** like this did the trick:
`loadChildren: () => import('./custom/custom.module').then(m => m.CustomModule)` (respect the single quotes!, one line!, and no curly braces and returns!)

This is also AOT comform, as it is described this way in

[2019-12-26 19:00] christopherthielen commented on #666
Sorry, I really don't know the answer to this.  I strongly suspect it's not feasible, but you'd have to ask the Ionic folks.

[2019-12-26 19:00] #666 closed

[2019-12-26 19:26] christopherthielen commented on #676
@holuwaseun  you need to add `parent` to your future state definitions if the lazy loaded states have a `parent`.  Otherwise, ui-router thinks the URL for those future states are simply `/users*`, not `/dashboard/users*`

[code]

[2019-12-26 19:26] #676 closed

[2019-12-26 19:27] christopherthielen commented on #422
All, please let us know if upgrading to Angular 9 and the latest UI-Router solves this issue

[2019-12-26 19:33] christopherthielen commented on #529
Hi from the future.  The pipe symbol is supported by the router in a parameter value.

Is this still an issue for you?  Based on the linked stackoverflow, it sounds like this can happen if the template has any syntax problems (i.e., missing a closing tag `<my-comp><my-comp>`).  I would check the template for `MyComponent` for any syntax errors.

I would also try enabling the ui-router trace featur

[2019-12-27 05:18] holuwaseun commented on #676
Wow... Thanks @christopherthielen . That really saved my life. Really appreciate

[2020-01-05 13:12] shyamal890 commented on #112
@christopherthielen can you please share an update on this?

[2020-01-06 19:03] JakeAi opened #705 "Force url to be lowercase?"
Currently I'm using this in a routerConfigFunction. Is there a real method or better implementation than this?

[code]

[2020-01-07 14:14] JakeAi opened #706 "StateService.onInvalid doesn't work after lazy load"
If I navigate to http://mywebsite.com/legal/noexist  my website ends up blank with the visualizer and transitions at the bottom. If I use the visualizer to navigate to a different state, and then press the browser's back button, my error page works as intended. But not for lazy loaded states.
[code]

[2020-01-08 11:30] stnor opened #707 "UrlsService config strictMode won't propagate to UIRouterModule children?"
I'm setting strict mode to false, but it does not seem to affect child modules (UIRouterModule.forChild()...

[code]

Hence I need to repeat the setting of strict mode in all child modules. A bit annoying. Bug or by design?

SO: https://stackoverflow.com/questions/59630354/ui-router-angular-2-set-strict-mode-false-for-all-modules

[2020-01-10 18:02] newmanw opened #708 "Use dynamically loaded component from module as component for state."
I am currently trying to dynamically load an external module and then use a component that lives in that module as a component in a route which I am also defining at runtime.  In my case I would like for my main application to bootstrap the routes for my 'widgets' using components defined in these external widgets.

I am currently using SystemJS to pull the external module:

[code]

At that point

[2020-01-10 19:54] newmanw commented on #708
Sorry, using ui-router-hybrid.  Should I move this ticket here: https://github.com/ui-router/angular-hybrid/?  Or is this something that applies to both projects.  In my particular case I am trying to dynamically load an angular module, not angularjs.

[2020-01-10 22:32] coolblades commented on #517
the above suggestion worked in restoring # in my url but has side effect of this angular error:
core.js:4002 ERROR Error: Uncaught (in promise): Error: Cannot match any routes. URL Segment: 'admin'
Error: Cannot match any routes. URL Segment: 'admin'

as if it is try to use angular router

[2020-01-11 15:49] mkoczorowski opened #709 "uiOnParamsChanged does not work on v6"
I rely heavily on uiOnParamsChanged, however in v6 this does not being called anymore when params change.

[2020-01-11 16:06] #709 closed

[2020-01-13 07:59] #7 closed

[2020-01-13 07:59] #78 closed

[2020-01-13 07:59] #2 closed

[2020-01-13 07:59] #109 closed

[2020-01-13 07:59] #110 closed

[2020-01-13 07:59] #115 closed

[2020-01-13 07:59] #100 closed

[2020-01-13 07:59] #107 closed

[2020-01-13 07:59] #194 closed

[2020-01-13 07:59] #138 closed

[2020-01-13 07:59] #299 closed

[2020-01-13 07:59] #322 closed

[2020-01-13 07:59] #330 closed

[2020-01-13 07:59] #333 closed

[2020-01-13 07:59] #341 closed

[2020-01-13 07:59] #352 closed

[2020-01-13 07:59] #353 closed

[2020-01-13 07:59] #152 closed

[2020-01-13 07:59] #372 closed

[2020-01-13 07:59] #413 closed

[2020-01-13 07:59] #351 closed

[2020-01-13 07:59] #468 closed

[2020-01-13 07:59] #570 closed

[2020-01-13 13:20] stnor commented on #517
Looking at @httpete's workaround I'm thinking #707 is the same issue.

[2020-01-13 13:25] coolblades commented on #517
ok got past the angular error by not doing this in app module - imports section:
RouterModule.forRoot([])

And then remove import of Location
import { Location } from '@angular/common';

So I don't need the workaround mentioned here either.

[2020-01-15 13:42] Louis012 commented on #529
I am no longer working on this project, sorry :(

[2020-01-15 18:15] christopherthielen commented on #529
thanks for responding!

[2020-01-15 18:15] #529 closed

[2020-01-16 16:40] newmanw opened #713 "Lazy loaded module future state routes are dependent on parent."
Currently as outline in the LazyLoading documentation:
https://ui-router.github.io/guide/lazyloading#future-states

implemented here:
https://github.com/ui-router/angular/blob/04c96790e5b2b558b8152b569c029c359a611920/src/lazyLoad/lazyLoadNgModule.ts#L177-L181

IE a future state defined in the parent

[code]

Requires that this state named "contacts" is defined in the child module:

[code]

This be

[2020-01-27 17:04] Eradev opened #721 "[Accessbility] ui-router doesn't work with keyboard with url-less states"
Hello,

navigation using a keyboard breaks with url-less states due to the uiSref directive removing an empty href. That makes the anchor not tabbable without tabindex, and also remove the ability to navigate to the state with the Enter button as it's no longer considered a link.

Was it intended to be like that? Is there a workaround?

[2020-01-29 14:39] Eradev commented on #721
Ended up overwriting AnchorUISref.update.

[code]

[2020-02-12 18:12] fearghalom commented on #340
I'm seeing the same issue with @uirouter/angular v5.0.0

[2020-02-18 08:13] adelamera commented on #517
I got this error, too. I tried using { provide: LocationStrategy, useClass: HashLocationStrategy }, but it's still not working.

[2020-02-20 07:09] oliverguenther opened #728 "Angular 9 support fails due to static access to ViewChild"
In trying to update to Angular 9, I was delighted to see ui-router already merged some Ivy support a while back.

However trying to upgrade myself, routing fails due to the UiView directive accessing a `@ViewChild` in its `ngOnInit` flow, exactly in this line:

https://github.com/ui-router/angular/blob/master/src/directives/uiView.ts#L305

Here, `_componentTarget` is still undefined and cannot be

[2020-02-20 22:05] shyamal890 commented on #292
@christopherthielen  Isn't there a better solution than creating a `CModule` ? can't `ui-router` understand and not load the states again?

Creating another module just for components and services seems like an extra step that can be avoided

[2020-03-04 18:02] christopherthielen commented on #728
I'm not aware of this issue.  Can you point to the v9 docs that explain the differences?

For what it's worth, the current build passes CI with Angular v9:

- https://github.com/ui-router/angular/runs/485609823?check_suite_focus=true
- [Raw logs](https://pipelines.actions.githubusercontent.com/BsjhEYVNUhWrnWRy5FKpQ09QPtUhyJ7ulCmhtEbKNNqwtkig3w/_apis/pipelines/1/runs/69/signedlogcontent/7?urlExpire

[2020-03-04 18:33] oliverguenther commented on #728
While creating the PR, I too saw that it appears to work fine with the test. I stumbled upon this error while debugging errors in our own application upgrade to Angular 9 that uses ui-router.

I was remembering to read about the ng migration script for version 9 removing all the ViewChild flags and thinking that it was deprecated (The default [was changed in v8](https://angular.io/guide/static-que

[2020-03-04 18:33] #728 closed

[2020-03-23 12:19] ngehlert commented on #162
facing a simliar issue / error. do you know by any chance how you fixed it in your webpack build 3 years ago? :D the links sadly don't work anymore

[2020-03-24 18:01] bouncehead13 opened #747 "Location Service not working with hash"
## Use Case
We are trying to set the UI Params to include both state params and a hash. An example would be
[code]

## Problem
The [_set function](https://github.com/ui-router/angular/blob/master/src/location/locationService.ts#L22) within the `Ng2LocationServices` is not properly parsing the hash before sending it along to the Angular Path Location Strategy.

The function assumes the hash can be

[2020-03-30 20:14] christopherthielen commented on #162
@ngehlert Sadly, I have no memory of this place.  Sorry!

[2020-04-02 09:47] ngehlert commented on #162
@danfergo were you able to solve this with webpack?

[2020-04-03 08:44] danfergo commented on #162
Sorry guys, I don't remember much as well. The only thing I can tell you is that since then (when I moved from angularjs to angular2), I just stopped using webpack directly, and the pug, sass, etc. configurations, and just started using angular-cli.

[2020-04-05 13:42] ronyf commented on #422
Anything? How can we solve this?

[2020-04-05 16:32] jeroenvheel commented on #422
I switched using the angular router.
I was only using the ui-router because I’m using multiple router outlets but I found a way to do this with the angular router.

[2020-04-08 11:31] ronyf commented on #422
@jeroenvheel can you please post your workaround?

[2020-04-09 11:49] Vedeep opened #760 "ERROR TypeError: childrenSrefs.concat is not a function"
Hello, please check the problem in the uiSrefActive directive(https://github.com/ui-router/angular/blob/ebd2e40da376f3bd1a6c281b5958aa91c64239a5/src/directives/uiSrefStatus.ts#L241), it seems that srefs.toArray () is missing.

Example: http://plnkr.co/edit/NLgxhon9x316ltSd?open=lib%2Fapp.ts&deferRun=1
When we click "Test Link" a message appears in the console:

ERROR TypeError: childrenSrefs.conca

[2020-04-13 09:38] #289 closed

[2020-04-13 16:08] Semigradsky opened #765 "Catch-all parameter ignore link after '?' and '#'"
I use catch-all parameter but it ignores symbols after '?' and '#'.

My state:
[code]

My url: `http://localhost:4000/#/ext/foo?bar=1#/baz`

Actual result: `transition.params() === {path: "foo", #: "/baz"}`

Expected result: `transition.params() === {path: "foo?bar=1#/baz"}`

[2020-04-17 13:21] thekip commented on #340
I created a workaround which mimics AngularJS behaviour (all parameters not encoded at all), therefore this problem disappears (or just masked)

[code]

[2020-04-20 13:49] thekip commented on #340
Or alternative solution (better), override Angular's location strategy and force it to decode uri components:

[code]

[2020-04-22 18:52] #424 closed

[2020-05-14 06:45] stnor opened #788 "Create OnUiParamsChanged, OnUiExit interfaces instead of Ng2Component"
It would be nice with separate interface exports for the hooks, and with a nice naming, such as:
[code]

As it is right now the NG2Component interface really does not add any declarative meaning for a person using the framework, imho:

[code]

I don't get why a user-exposed interface has this design with all optional methods. I feel that its better to have one interface per hook and not use the op

[2020-05-23 15:21] njoel24 commented on #705
Hi @christopherthielen

uirouter should be able to expose an option to enable case-insensitive on query parameter and/or entire url .

This seems to be solved for angularJS related as reported here:
https://github.com/angular-ui/ui-router/issues/3379

I tried looking for an option for the forRoot method in UIRouterModule but without success.

Is there any option we can use to achieve the above?

[2020-05-23 15:30] JakeAi commented on #705
as annoying as it was to switch, I switched to angular router. Nothing in docs, or support forced me to switch.

[2020-05-28 03:20] christopherthielen commented on #788
That sounds good to me.  Would you like to take a shot at a PR?

[2020-05-28 11:16] stnor commented on #788
Sure, I'll give it a try later this week.

[2020-05-28 11:47] stnor commented on #788
@christopherthielen Should I remove, deprecate or leave "Ng2Component" as is?
It's only used internally in uiView.ts:214, so removing it makes sense to me, but that may obviously break some projects that use it.

[2020-05-28 12:30] stnor commented on #788
PR #800

[2020-05-28 19:12] menuka-s commented on #760
I think the issue is that you have `uiSrefActive="active"` on a `<li>` tag at line 32. If you remove that in your plunker that error disappears

[2020-05-28 22:32] #788 closed

[2020-06-09 08:29] euangoddard opened #805 "UIROUTER_MODULE_TOKEN is now a hidden export, but is required in external projects"
Prior to version 6.0.2 `UIROUTER_MODULE_TOKEN` was an injection token that one could import outside the UI router project. Since this release, I get the follow error when trying to import:

[code]

Our application relies on this to do:

[code]

Could you please allow this token to be imported by external applications again?

[2020-06-10 09:27] mkoczorowski commented on #805
+1

[2020-06-15 07:41] aleixsuau commented on #166
Hi,
Same problem here, I'm not able to access the UiRouterRx typings even after removing node_modeles and updating to "@uirouter/angular": "^6.0.2", "@uirouter/core": "^6.0.5",    "@uirouter/rx": "^0.6.5".

I was able to solve it by including the typings explicitly:
/// <reference path="../node_modules/@uirouter/rx/lib/core.augment.d.ts" />

[2020-06-28 10:32] #384 closed

[2020-06-28 12:32] #298 closed

[2020-06-30 21:32] tipsmiller commented on #760
I'm seeing a similar issue, but it looks like having `uiSrefActive` on an ancestor of an element with `uiSref` is supposed to work according to the [docs](https://ui-router.github.io/ng2/docs/latest/classes/_directives_uisrefactive_.uisrefactive.html#multiple-uisrefs) Am I misunderstanding something?

[2020-07-01 17:24] jziggas opened #809 "Angular 10 Compatibility"
[code]

https://angular.io/guide/migration-module-with-providers

[2020-07-03 19:44] christopherthielen commented on #805
I'm re-exporting these in #810
Note that these tokens are marked as @hidden and are considered internal implementation details, not public API.  Use at your own risk.

[2020-07-03 19:51] christopherthielen commented on #809
The reported error was fixed in f3616849d9f0ec7794d654f515874616ab83e8f7 and released as https://github.com/ui-router/angular/releases/tag/6.0.2

Angular 10 support is coming soon.

[2020-07-03 19:51] #809 closed

[2020-07-03 19:55] #805 closed

[2020-07-03 19:58] christopherthielen commented on #765
That style of parameter `/*path` is only for the path portion, not for query parameters.  If you'd like access to the raw url, a workaround is to use the Angular `Location` API.

There's a longtime feature request for wildcard query params, but it's never been implemented.

[2020-07-03 19:58] #765 closed

[2020-07-03 19:59] christopherthielen commented on #760
Yes, this is supposed to work.

[2020-07-03 22:12] #760 closed

[2020-07-05 22:15] #747 closed

[2020-07-06 03:18] christopherthielen commented on #721
This behavior is related to this bug report https://github.com/angular-ui/ui-router/issues/3248

I've fixed this in #721, hopefully this behavior is correct now.

[2020-07-06 03:27] christopherthielen commented on #713
@newmanw are you still interested in a solution for this?  I think it's technically possible to accomplish your goal with ui-router, but you may need to jump through a few hoops first.  If you're still interested I will invest some time into explaining how.

[2020-07-06 03:29] #721 closed

[2020-07-06 03:35] christopherthielen commented on #708
@newmanw same question (as asked on the other issue you have open).  Are you still interested in a solution for this?

I think the Ivy compiler in Angular v9 and v10 made general lazy loading of components much easier. It seems like the router shouldn't really get involved if I understand what you'd like to accomplish.
https://indepth.dev/lazy-loading-angular-modules-with-ivy/

[2020-07-06 03:37] christopherthielen commented on #707
That's not expected behavior, no.  The UrlService is a singleton on the router object, so the config should only need to be applied once.  Can you make a minimal reproduction of the issue?

[2020-07-06 03:45] christopherthielen commented on #517
FWIW, the sample app uses `useHash: true` and it seems to work.  I have no idea what was going on to cause this issue.

[2020-07-06 03:52] christopherthielen commented on #705
@njoel24 There is support in ui-router for making url matching case insensitive:

https://ui-router.github.io/ng2/docs/latest/classes/__uirouter_core_src_url_urlconfig_.urlconfig.html#caseinsensitive

[code]

[2020-07-06 08:41] euangoddard commented on #805
@christopherthielen many thanks. Do you have a time-frame for a release to that incorporates this change?

[2020-07-06 17:22] christopherthielen commented on #805
https://github.com/ui-router/angular/releases/tag/6.0.3

[2020-07-17 13:51] #112 closed

[2020-07-17 16:42] #340 closed

[2020-07-19 15:24] #706 closed

[2020-07-21 13:36] stnor commented on #707
I cannot reproduce it anymore.

It was a hybrid app Angular 1 / AngularJS 1.7.5 where I had the issue, and I notice now that the non-hybrid router removed the slash at the end in strict: false and the hybrid doesn't. Both work though.

I experienced that it did not work when using strict mode and a trailing slash. Got 404.

[2020-07-22 19:21] christopherthielen commented on #707
ok, thanks for the follow up!

[2020-07-22 19:21] #707 closed

[2020-07-22 21:14] dimmreaper opened #829 "Query parameter not allowing array with single item"
_I've previously posted [this question on StackOverflow](https://stackoverflow.com/q/62640754/3123195) as well. I'd call this a bug in UI Router, except that it seems like such a normal situation that the problem must be me (but I don't see how.)_

I have an application using UI-Router. There is a Widgets state with one query parameter that accepts an array of widgets:

    const widgetsState = {

[2020-08-14 12:11] SamanthaAdrichem opened #835 "Idea: params typedef"
Your current params typedef in the routes is:

[code]
It would be nice if this could become a more strict/model based typedef like so

[code]

This way you could make the getParams function return the same type, letting people in their code make data models/interfaces for these.

For example i could do:

[code]

I would get code completion, error on invalid variables and  even errors on missing va

[2020-09-16 12:21] lacroixdavid1 commented on #164
I have automated @christopherthielen for my use case using webpack.

During the build process, I look for lazy module states and add them to the app.module states via a loader.

[2020-09-16 14:03] jobejas opened #848 "disguiseToken undefined"
There's  existing [discussion in stackoverflow](https://stackoverflow.com/questions/55193973/cannot-read-property-disguisetoken-of-undefined) regarding this issue. I'm just wondering if anyone might know anything about this.

I encountered after adding lazyloading to the app if that's something makes sense related to this issue.
My app is currently in hybrid. Angular v10 + angularjs 1.8.0

TypeErr

[2020-10-08 17:56] dimmreaper opened #854 "Latest documentation broken"
The documentation at https://ui-router.github.io/ng2/docs/latest/ appears to be broken for the current and last few versions. The links in the menu on the right are not clickable, and searching for something (e.g., StateService) finds nothing. If I change the dropdown to view documentation for 6.0.0 or older, the menu loads and is clickable and searching works as expected.

[2020-10-19 14:34] #422 closed

[2020-11-03 21:35] Eradev commented on #721
I just re-tested this. The fix enables the Enter button, but it is still ignored when navigating with Tab.

[2020-11-06 18:11] danhooper opened #867 "Inconsistent encoding and decoding of string array params"
When a parameter is defined as an array and a string depending on the number of items in the array the strings within the list may be encoded or may not be.

See https://stackblitz.com/edit/uirouter-angular-string-array for a stackblitz that replicates the issue.

I think all of the string parameters should be URL encoded/decoded.

When there is a single item the items are URL encoded/decoded prop

[2020-11-18 08:27] cloakedninjas commented on #384
Run into this myself just now 😞

Was linking to a lazy-loaded module from a root module never a use-case consideration ?

[2020-11-18 18:32] christopherthielen commented on #384
@cloakedninjas

There are two things being discussed in this issue:

1) The original reporter tried to access a state via the name `lazy.a` but the state was actually named `a`.  Children of future states should be prefixed by the future state name (instead of `{ name: 'a', parent: 'lazy' }` it should be `name: 'lazy.a'`)
2) Sref URLs for not-yet-loaded future states are not rendered with the full

[2020-11-22 12:36] psamim opened #869 "Support Angular 11"
Hi,

The peer dependencies now does not support Angular 11.

Thanks

[2020-12-16 22:36] christopherthielen commented on #867
Was this a regression?

[2020-12-17 21:03] christopherthielen commented on #867
Not a regression.   I'm shocked this bug has existed for this long, thanks for the nice reproduction.

[2020-12-17 21:07] danhooper commented on #867
Thanks for the great library, we've been using it on one of my projects for probably 5 years across AngularJS to a hybrid app and now just Angular.

[2020-12-17 21:34] #867 closed

[2020-12-21 21:46] christopherthielen commented on #854
fixed the 404 links, but the search remains broken for now (I won't have time to investigate the search right now, I hope having the major components always navigable will mitigate this problem)

[2020-12-21 21:46] #854 closed

[2020-12-21 21:51] christopherthielen commented on #848
I've never seen this error before, and 'disguise' is not in the ui-router codebase.    My suspicion is that it's related to __decorate and zone.js.

[2020-12-21 21:59] christopherthielen commented on #829
Here's a fork of your stackblitz: https://stackblitz.com/edit/uirouter-angular-hello-world-zzt9u6

I changed your widgets stage to:
[code]

Note: `array: true`, not `isArray: true`

[2020-12-21 21:59] #829 closed

[2020-12-22 00:30] christopherthielen commented on #869
all updated

[2020-12-22 00:30] #869 closed

[2021-01-04 14:38] dimmreaper commented on #829
Doh! Thanks, @christopherthielen! I'd read the docs but still somehow missed it. If you want to post a quick answer on SO as well, I'll accept it.

Thanks for all you do with UI-Router!

[2021-01-16 09:52] #713 closed

[2021-01-16 09:52] #708 closed

[2021-01-16 09:52] #517 closed

[2021-01-16 09:52] #705 closed

[2021-02-27 01:59] #835 closed

[2021-05-25 13:59] mrahhal opened #919 "Angular 12"
This is not compatible with angular 12 right now because of the peer dependencies versions.

[2021-06-01 23:34] sebastian-zarzycki-es commented on #919
Hopefully only a ver bump?

[2021-06-11 08:02] PikaRules commented on #919
when is the support for version 12 going to be released?

[2021-06-11 10:31] sebastian-zarzycki-es commented on #919
I'm also waiting (im)patiently :)

[2021-07-08 00:44] #848 closed

[2021-07-14 10:36] sebastian-zarzycki-es opened #934 "Future of ui-router?"
Is this project still alive? For quite some time, the great @christopherthielen has been introducing updates and changes, keeping it up to date and adding functionality. But there's no update for Angular 12 for a few months now, which is concerning.

In the meantime, there are more and more solutions that tend to base on Angular's default router - Ionic, server side rendering, etc. This alienates

[2021-07-15 03:10] christopherthielen commented on #934
Hi @sebastian-zarzycki-es

I've been avoiding calling the ui-router project dead, but it's effectively in maintenance mode.

Personally, I still use ui-router at my day job, but only the AngularJS and React modules, not Angular (which is part of the reason why we haven't seen a release targeting Angular 12).  I would be happy to merge a PR supporting Angular 12 but this does involve some no-obviou

[2021-07-15 04:51] dereekb commented on #934
I've been using UI-Router for the past several years and would definitely be effected if this repo died. I don't have much repo maintenance experience, but would be be down to help in some limited capacity.

It does seems like this project is plenty mature though. It sounds like the main issue is making it easier to push updates and testing cross-repo changes since there are a number of them.

Is

[2021-07-15 17:39] dpraul commented on #919
FWIW, the current version appears to work totally fine for me with Angular 12 (ignoring the peer dependency issues). I haven't put it through rigorous testing quite yet but it's working from what I've seen.

[2021-07-20 03:11] christopherthielen commented on #934
A proof of concept monorepo would be helpful.  To get started, we could import the various ui-router repositories into a main monorepo repository using git subtree or git submodule.  The proof of concept should allow all the packages to be built and tested.

Some things to be considered (off the top of my head):

- Unit Tests (do we run all tests, or only tests for changed packages, etc)
- Downstr

[2021-08-03 14:26] ngehlert commented on #919
well according to https://github.com/ui-router/angular/issues/934 it's not that tivial maybe?

[2021-08-03 14:35] dpraul commented on #919
We've had ui-router running on Angular 12 in production for a couple weeks now with no issues. We still get the peer-dependency warning at install-time, but it appears to work just fine.

[2021-08-22 12:09] stnor commented on #919
TL;DR: I would very much appreciate a release for Angular 12 too.

Ui-router for the hybrid app and Angular has been absolutely critical for us, since we've migrated a very large angularjs app to angular 10 over the course of the last 12 months. We are still running ui-router in the non-hybrid, and have no plans as of current to migrate to the Angular.

[2021-08-25 12:53] stnor opened #944 "Error: State 'quizzes' is already defined"
Hi,
I am migrating six different angular apps to one app, and have a 'root' parent and all the old apps at lazy child states under that.

Like this:
[code]

The "Nomp"  state declaration:
[code]

The "NompPlus" state declaration:
[code]

In the ```nompFutureState``` there is a 'quizzes' non-lazy state.
[code]

When adding
[code]

Here's the trace;
<img width="829" alt="Screenshot 2021-08-25 at 14

[2021-08-25 12:57] stnor commented on #944
Versions
[code]

[2021-08-30 11:03] stnor opened #945 "uiSref doesn't work unless matching "name". Can't use full path/name."
I have a hierarchy in my app with loads of states, of which some are lazy.
Example:
<img width="984" alt="Screenshot 2021-08-30 at 12 57 49" src="https://user-images.githubusercontent.com/561167/131329338-6f2ce7e9-a2eb-4c61-98a7-bc053db0f6e2.png">

My expectation is that uiSref="plus.mentees.current.mentee.dashboard" would work, but only "mentee.dashboard" works (since that's the 'name' of the sta

[2021-09-10 10:29] Lubjan opened #947 "How to lazy load with chunks"
Hello,

I've been using ui-router since AngularJS, but I've never really felt the need to lazy-load modules until now, as performance is a major point for a project I'm working on. I've come into contact with the lazy-load mechanism of the default Angular Router before, but generally don't like the default router, so I'd prefer to stay with ui-router.

My problem is that with the ui-router lazy lo

[2021-09-15 14:00] dimmreaper commented on #934
Chris,

I just want to say how much I appreciate the effort you've put in to make UI-Router what it is. I've used it for many years, both on AngularJS projects and Angular projects. A very big thanks to you and the other contributors.

Hopefully more maintainers (and not just one) show up to keep this going, and take the weight off of you.

I would love to help, but don't want to volunteer hastily

[2021-09-28 06:45] mokipedia commented on #947
Hi @Lubjan,
there is a lot missing here -  like: do you use angular cli or custom build config?

as long as you do not import the module into the root module, the cli build generates a chunkfile that is then lazyloaded automatically by the code you shared.

This is not a problem with ui-router btw but most likely with your code or setup. My first guess would be you still import the media player mo

[2021-09-28 09:19] Lubjan commented on #947
Hey,
just sorry for the forgotten information there, I use the default CLI no custom configuration.

As you pointed out, I did indeed forget to remove the MediaPlayerModule (and others) from the app.module.ts, resulting in no generated chunks. Removing them now generates the chunks.

But now it won't let me navigate to any routes of lazy modules, gotta figure out why.

[2021-09-28 10:42] Lubjan commented on #947
Okay I've added the url
[code]
and adjusted the children accordingly
[code]

Navigating to `localhost:4200/watch/stream/<id>` works fine, but when used as a link (e.g. `<a uiSref="stream" [uiParams]="{id:519}">stream</a>`) it won't navigate, only after a link with `uiSref="mediaPlayer.mediaPlayer"` is clicked it will resolve them. I feel extremely dumb right now.

Any idea where my problem could l

[2021-09-28 11:02] mokipedia commented on #947
I would argue that `stream` is not a child of `mediaPlayerModule`.
Eigher call it `mediaPlayerModule.stream` or set `parent: 'mediaPlayerModule'`.
Not sure why you use that abstract though. seems unnecessary if you only have 1 route.

In general: `mediaPlayerModule.**` means als children of mediaPlayerModule (including itself) are to be found in this lazy chunk.

[2021-09-28 11:07] Lubjan commented on #947
I also tried `mediaPlayerModule.stream` before but with the same result, only difference being that there was no component loaded when navigated directly to (resolvers did load though).
There are other sub-routes planned, that's why stream is a separate child of `mediaPlayerModule` and itself being abstract.

[2021-09-28 11:18] mokipedia commented on #947
have you tried adding a layout view (can be an empty component with `<div ui-view></div>` to your abstract? I have to admit I have not tried an abstract state without view.

[2021-09-28 11:35] Lubjan commented on #947
That fixed the view being empty, but the links can still not be navigated to unless the link to the parent is used once.
![](https://i.imgur.com/mhjNQ9Z.gif)

Is there by any chance a setting (that I may have overlooked) to tell UI router to load lazy modules as soon as the initial chunk finished loading like in Angulars `preloadingStrategy` for the default router. But I guess the problem would st

[2021-09-28 11:40] mokipedia commented on #947
As I said, they need to be nested. There is no `stream` state in root.
You tell root all there is, but a future state indicates, there is more nested here with this name after lazyloading.
`mediaPlayerModule.stream` is the identifyer coming from root, however you have to tell him in the state (by naming it like that or by adding the parent, as I stated before). Navigation via URL works, as you tel

[2021-09-28 11:47] Lubjan commented on #947
Okay, changed it to that now the link works on click (had `mediaPlayerModule` set as `parent` before), thanks for the help on that. :D
But I noticed a small thing that could still be a problem, when the module is not yet loaded any link that would navigate to `/watch/stream/<id>` just links to `/watch` is that still something that occurs because I have incorrectly set things up or is that normal a

[2021-09-28 11:53] mokipedia commented on #947
As the module holds the state definitions, I think that is normal. You can however (and I would encourage you to) split the lazyloaded routes each into a future state to minimize the chunk size and give the future state a full url description. that way the url is always known, even when the state itselt if not.

[2021-09-28 11:54] Lubjan commented on #947
Okay will do that, thank you very much for your help.
Hope you have a pleasant Tuesday :)

[2021-09-28 11:54] #947 closed

[2021-09-30 16:30] gkalpak opened #949 "Incompatibility with Angular v13 - removal of `NgModuleFactoryLoader`"
FYI, the deprecated `NgModuleFactoryLoader` has been recently removed from `@angular/core` (angular/angular@361273fad5030c900c83d333a779f6edbe20c688). This change will land in v13.

This breaks `@uirouter/angular` because it imports it here: https://github.com/ui-router/angular/blob/9d88213ec9a1929289349506ac6d2c26f84ece31/src/lazyLoad/lazyLoadNgModule.ts#L1

I am not sure what would be the best w

[2021-11-10 05:31] DOrlov77 commented on #949
Hello, Angular 13 is here...
Any porgress so far?

[2021-11-25 17:36] #949 closed

[2021-11-26 11:52] thekip opened #951 "Angular 13 Support (libs update) and version policy"
Looks like it's become more and more confusing and hard to maintain version of angular bindings which would works with different versions of angular.

I did a quick investigation of big angular projects (rxjs, primeng) they all use "aligned" version policy. Means every version of library is aligned of one specific version of angular. It might be explicitly stated in library version number or libra

[2021-11-29 11:05] mokipedia commented on #951
I second this proposition to drop older versions and make a new major version whenever the supported angular major version changes. I also find the proposed synced version number intuitive and declarative.

However, going this direction means an overhead as you need to follow angular ~ every 6 months and as history has shown, most projects are not that active - ui-router included. I think this wou

[2021-11-29 11:15] thekip commented on #951
Sounds reasonable.
Hopefully bumping version of the project is not a very big task as long it's straightforward and not including extending test suite to test again all obsolete version.
So i think community could help with that. So the project wouldn't be abandoned as long as there are projects using it (at least we use it in our app and it's quite hard for now and in closest future to migrate to

[2021-11-29 14:44] mokipedia commented on #951
It would probably also mean, that angular-hybrid, angular, the sample apps and maybe others i forgot to mention would be moving along with the version bumps while core, angularjs and react stay at the current scheme.

[2021-12-01 09:19] christopherthielen commented on #951
Hey folks, great discussion and thanks for contributing!  I'm open to switching ui-router to the proposed version scheme.

Background:

UI-Router for Angular has always supported the latest version of Angular, plus one previous version, i.e., we now support ng13 [latest] and ng12 [latest - 1] in ui-router/angular version 9.x.  IIRC this mimicked the ng support scheme offered by other libraries at

[2021-12-02 00:59] christopherthielen commented on #919
uirouter/angular v9.1.x supports ng12 and ng13

[2021-12-02 00:59] #919 closed

[2021-12-03 08:46] mokipedia opened #956 "[Discussion] Monorepo requirements for ui-router packages"
As ui-router team (@christopherthielen) has expressed interest in a monorepo setup for ui-router libraries and examples, this ticket tries to define the architecture, technical requirements and non-requirements of this task.

# Requirements

### Repos to combine into a monorepo
* library repos
  * ui-router/core (?)
  * ui-router/react (?)
  * ui-router/angular
  * ui-router/angular-hybrid
  * ui-

[2021-12-03 10:39] mokipedia commented on #956
i marked all repos i am unsure if it is a good idea to add them to a monorepo with ?
input welcome.

also, as angular projects use it quite often, i am in favor of nx workspace over lerna, also it unifies the dependencies and simplifies the architecture a bit. however, unified dependencies can get in your way, depending on the project structure.

[2021-12-03 13:39] mokipedia commented on #951
As the Monorepo is quite some work I started an issue with general informations and current ideas / decisions flying around in other issues.

[2021-12-04 21:19] christopherthielen commented on #945
Hi, yes it's expected that fully qualified state name `plus.mentees.current.mentee.dashboard` should work.  It's also surprising that `mentee.dashboard` works (it's not expected)

[2021-12-05 22:50] stnor commented on #945
Yeah, it's weird. Nothing happens when navigating/clicking and there are no errors. I've since migrated to the Angular Router,  but migration would have been a total PITA without this project. Thanks for all your work!

[2021-12-05 22:50] #945 closed

[2021-12-06 02:10] christopherthielen commented on #956
Thank you, this is a good summary to start from.

1) All the repos should be moved to the monorepo
2) I have experience with lerna, but have only experimented with nx workspaces a little bit.  Can you explain what is meant by unified dependencies w.r.t. nx?

I'll also add a couple of things that need consideration:
- CI/Test suites
  - test all affected projects on each PR
  - properly run "downst

[2021-12-07 13:44] mokipedia commented on #956
hi @christopherthielen,

ad 2)
basically, nx uses one main package.json where all dependencies live in - so angular version would be the same for all projects, react version would be the same for all projects, ...
or, to quote nx docs:

[1] https://nx.dev/l/a/core-concepts/why-monorepos

[2021-12-07 20:20] christopherthielen commented on #956
Ah, I see.  That doesn't seem desirable for ui-router project since it targets very different frameworks with different toolchains.

[2021-12-15 16:03] mokipedia commented on #956
true, the toolchain is maybe a bit of a headache here.
I will mark the lerna solution as preferred

[2021-12-22 06:49] dereekb commented on #956
There was a section on NX concerning using Nx along with Lerna:

https://nx.dev/l/a/guides/lerna-and-nx

Looks like you can have separate package.json for different projects.

I've been looking at using Nx for consolidating a lot of my own cross-project code into a single repo. Haven't use either Nx or Lerna it yet so can't comment past the above link. I plan on using it soon and hopefully can com

[2022-01-03 03:44] s001dxp commented on #951
I've been using ui-router for about 6 years with first angular 1 then with angular 2. I maintain a very large application and sometimes get a few angular versions behind before I have time to upgrade. Having synchronized versioning would be a a great help--I'd no longer have to do the research to find which ui-router version is compatible. So, I put my hand up for this.

[2022-01-14 06:31] jpike88 commented on #951
It makes sense to just target the latest version now, there's not exactly any groundbreaking features to worry about anymore so people won't be too upset about it.

[2022-01-21 03:19] Plonq commented on #164
@lacroixdavid1 would you mind sharing your solution? I assume you wrote a custom loader to do this?

[2022-01-24 10:49] mokipedia commented on #951
@wawyed not sure I understood you correctly.
Do you mean that by aligning to angular versions, you can only make breaking changes when angular is updated to another version?
Or do you mean, that if @uirouter/.. has a breaking change, you would also need to update angular to the latest version in order to get the change?

[2022-01-24 13:39] wawyed commented on #951
This, yes.

[2022-01-26 00:38] dereekb commented on #956
After using NX for a couple weeks I'm pretty happy with how it works. In terms of dependency usage, what it does is have all dependencies imported into the root package.json, but when you build the sub-libraries they have a package.json generated based off of the dependencies that are imported.

Nx's core project/workspace plugins handle building the project, but you can easily add additional comm

[2022-01-27 14:03] CesarUCIGIT opened #959 "Redirects on local anchor reference"
I have defined a fallback route for ui-router to use when it cannot identify the route the user is trying to access, using the otherwise param:

[code]

**Using angular 10 with ui-router 8.0.1 with this html:**

[code]
**Actual:**

When I click the link ui-router identifies the route as not recognized and enters the fallback. The result will be the fallback page in this case the '/' root. I cannot

[2022-01-28 12:58] CesarUCIGIT commented on #959
My question in stackoverflow: https://stackoverflow.com/questions/70893870/angular-2-ui-router-otherwise-redirects-on-local-anchors-links

[2022-01-30 05:05] jpike88 commented on #951
[code]

@wawyed this warning would show indefinitely if /core isn't updated to conform though..

[2022-02-01 06:05] dereekb commented on #956
I opened up that project at https://github.com/dereekb/dbcomponents if you want to poke around with how Nx works with a non-trivial project.

I'd be open to setting up all the projects within Nx and getting them to a base level. Just need to know which repo you'd want me to fork off of so we can merge back later, or I can just pick/start one. I figure the publishing urls probably aren't going to c

[2022-02-22 06:17] christopherthielen commented on #956
https://github.com/christopherthielen/ui-router-monorepo-test

I've made some progress on this using yarn workspaces and lerna.  I created three top level scripts:
- `yarn clean`
- `yarn build` (or `yarn build --stream`)
- `yarn test` (or `yarn test --stream`)

This is definitely a WIP and will likely be deleted and re-created from scratch a few times while testing things.

Some observations:

- h

[2022-02-22 06:17] christopherthielen commented on #956
This is the series of commands I used to initialize the monorepo:

[code]

[2022-04-05 12:19] Vortilion opened #960 "onError not redirecting"
I am migrating from ui-router 1 (AngularJS) to ui-router for Angular 12. In the old application we were catching transition-errors and redirecting to a proprietary 401-page via

    $transitions.onError({}, function(transition) {
            if(transition.$from.name !== transition.$to.name) {
                if (transition.$from.url !== 'home' && transition.$to.url !== 'login') {

[2022-04-30 11:44] #934 closed

[2022-06-21 10:33] YanerTavuz opened #964 "Angular v14 support"
We are in the midst of upgrading our project to Angular 14 and would love it if you could release a new version with v14 support!

[2022-07-10 22:35] dereekb opened #966 "[bug(?)]: future state declaration's data not passed/merged to/with loaded child state"
I ran into a case where I was assuming that the "future" declaration's data would continue to be used once the child route was loaded, but that didn't seem to be the case.

[code]

I guess internally once the child state is loaded that's the one it will continue to use. My use case is I'm using authentication hooks to prevent the route from being accessible from anyone who isn't logged in. It is i

[2022-07-29 23:50] devlinjunker commented on #964
I created a PR here to try to do this: https://github.com/ui-router/angular/pull/967 not sure if anyone is around to help merge it though

[2022-09-09 16:46] Martin-Eckleben commented on #934
Thank you @christopherthielen for all your work that you donated to the world!

[2022-09-16 21:39] #964 closed

[2022-09-16 21:39] wawyed commented on #964
Version 10 released with Angular 14 support

[2022-09-21 04:15] #959 closed

[2022-09-21 04:15] #951 closed

[2022-10-16 20:32] #956 closed

[2022-11-12 09:19] #960 closed